<Config>
  <Port>{{ item.port }}</Port>
  <BindAddress>*</BindAddress>
  <ApiKey>{{ item.api_key }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>