- The Theater:
    - Jellyfin:
        icon: jellyfin
        href: http://{{ ansible_host }}:8096
        description: Watch Movies & TV
        server: local-docker
        container: jellyfin
    - Seerr:
        icon: overseerr
        href: http://{{ ansible_host }}:5055
        description: Request New Media
        server: local-docker
        container: seerr

- The Acquisition Pipeline:
    - The Acquisition Pipeline:
    - Radarr:
        icon: radarr
        href: http://{{ ansible_host }}:7878
        description: Movie Manager
        server: local-docker
        container: radarr
        widget:
            type: radarr
            url: http://radarr:7878
            key: "{{ '{{HOMEPAGE_VAR_RADARR_KEY}}' }}"
    - Sonarr:
        icon: sonarr
        href: http://{{ ansible_host }}:8989
        description: TV Show Manager
        server: local-docker
        container: sonarr
        widget:
            type: sonarr
            url: http://sonarr:8989
            key: "{{ '{{HOMEPAGE_VAR_SONARR_KEY}}' }}"
    - Prowlarr:
        icon: prowlarr
        href: http://{{ ansible_host }}:9696
        description: Indexer Manager
        server: local-docker
        container: prowlarr
        widget:
            type: prowlarr
            url: http://prowlarr:9696
            key: "{{ '{{HOMEPAGE_VAR_PROWLARR_KEY}}' }}"
    - SABnzbd:
        icon: sabnzbd
        href: http://{{ ansible_host }}:8080
        description: Usenet Downloader
        server: local-docker
        container: sabnzbd
        widget:
            type: sabnzbd
            url: http://sabnzbd:8080
            key: "{{ '{{HOMEPAGE_VAR_SABNZBD_KEY}}' }}"

- Infrastructure:
    - Cloudflared:
        icon: cloudflare
        description: Zero Trust Tunnel
        server: local-docker
        container: cloudflared
    - Watchtower:
        icon: watchtower
        description: Auto Updater
        server: local-docker
        container: watchtower
    - Recyclarr:
        icon: recyclarr
        description: Arr Config Sync
        server: local-docker
        container: recyclarr
    - Docker Proxy:
        icon: docker
        description: Socket Proxy
        server: local-docker
        container: docker-proxy