[
[defaults]
inventory = inventory/hosts.ini

[ssh_connection]
# Disabling host key checking for lab convenience. NOT recommended for production.
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
control_path_dir = /tmp/.ansible-{{ ansible_user | default('default') }}-%h-%p-%r

# Set a reasonable timeout for SSH connections
ssh_transfer_control_path_timeout = 60
